table {
    width: 100%;
    margin: auto;
}
.name {
    background-color: rgba(162, 196, 201, 1);
}
.blank_row {
    height: 10px !important;
    background-color: rgba(232, 232, 232, 1);
    padding: 0;
}
table, th, td {
    border: 3px solid #9d9d9d;
    border-collapse: collapse;
    border-top: none !important;
}
.green {
    background-color: #67b168;
}
.red {
    background-color: #ce8483;
}